---
import Layout from '../layouts/Layout.astro';
import QrCode from '../images/qr.
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Welcome to SoundBridge</h1>
    <span>LAN Spotify controller</span>
    <div>
      <img src="https://chart.googleapis.com/chart?cht=qr&chl=http%3A%2F%2Flocalhost%3A4321&chs=180x180&choe=UTF-8&chld=L|2" rel="nofollow" alt="Sound Bridge">
    </div>
  </main>
</Layout>