---
import Layout from '../layouts/Layout.astro'
---

<Layout title="SoundBridge">
  <main>
    <div>
      <img src="https://chart.googleapis.com/chart?cht=qr&chl=http%3A%2F%2Flocalhost%3A4321&chs=180x180&choe=UTF-8&chld=L|2" alt="Sound Bridge">
    </div>
  </main>
</Layout>