---
import Controls from "../components/Controls.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="Player">
    <section class="flex-col justify-center border">
      <h1 class="text-center">Player</h1>
      
    </section>
</Layout>