---
interface Props {
  href: string;
  name: string;
  trail?: string;
}

const {href,name, trail} = Astro.props
---

<li>
  <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
    <slot />
    <span class="flex-1 ms-3 whitespace-nowrap">{name}</span>
    {trail && <span>replace</span>
  </a>
</li>