---
import ControlButton from "./ControlButton.astro";
	// play pause stop mute unmute volume
---

<section class="flex w-full border">
	<ControlButton icon="shuffle" />
	<ControlButton icon="play" />
	<ControlButton icon="back" />
</section>