---
import ShuffleIcon from '@icons/shuffle.astro'
import PreviousIcon from '@icons/prev.astro'
import PlayIcon from '@icons/play.astro'
import NextIcon from '@icons/next.astro'
import RepeatIcon from '@icons/repeat.astro'
import QueueIcon from '@icons/queue.astro'
import PlaylistIcon from '@icons/playlist.astro'
import Volumeup from '@icons/volumeup.astro'
---

<section
  class="flex justify-between z-50 fixed bottom-0 w-full bg-gray-800 py-2 border-t border-slate-900 border-opacity-60 accent-teal-600"
>
  <aside class="ml-10 flex gap-4 items-center">
    <img src="/images/logo.svg" alt="current song" class="size-16 border" />
    <div class="">
      <header>Song Name</header>
      <h6>Artist Name</h6>
    </div>
    <like-button></like-button>
  </aside>
  <main class="md:min-w-96">
    <div class="flex justify-center gap-x-4 items-center py-2">
      <button><ShuffleIcon /></button>
      <button><PreviousIcon /></button>
      <button class="bg-white text-slate-800 rounded-full p-1"><PlayIcon /></button>
      <button><NextIcon /></button>
      <button><RepeatIcon /></button>
    </div>
    <div class="flex justify-between gap-2">
      <span>0:05</span>
      <input type="range" value="5" class="w-full" />
      <span>3:34</span>
    </div>
  </main>
  <aside class="mr-10 flex gap-1 items-center">
    <button class="text-white"><QueueIcon /></button>
    <button class="text-white"><PlaylistIcon /></button>
    <span class="flex">
      <Volumeup />
      <input type="range" value="50" class="ms-1" />
    </span>
  </aside>
</section>
